{%extends 'admin/layout.html'%}
{%block content%}
<div class="container ">
    <h3 class="mb-4">Tambah User</h3>
    <form action="/admin/form-tambah-user" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" name="password" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
  </div>
  
{%endblock%}