{%extends 'user/layout.html'%}
{%block isi%}


<!-- Cards Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://dynamic.zacdn.com/VBOhGE8BRvUaA4uu4zhOx_AB2yw=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/atva-2153-0396233-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">This is the first card.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://dynamic.zacdn.com/VBOhGE8BRvUaA4uu4zhOx_AB2yw=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/atva-2153-0396233-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">This is the second card.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://dynamic.zacdn.com/VBOhGE8BRvUaA4uu4zhOx_AB2yw=/filters:quality(70):format(webp)/https://static-id.zacdn.com/p/atva-2153-0396233-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">This is the third card.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}